/* Styling specific for the blog webpage */

/* 
colors: 
Used these tool to determine website design color palette: 
1) WCAG info. on contrast minimum (documentation): https://www.w3.org/TR/WCAG/#contrast-minimum
2)Contrast ratio tool by Lea Verou: https://www.siegemedia.com/contrast-ratio#%23a85d77-on-white

---white: #FFFFFF (background, font color on nav, main/primary light color)
--light-pink: #ecc6d3 (secondary light color, used for nav hover, and links active)
--light-blue: #DAFAFF

--blush: #E7769D (mid-value zone for color palette, nav links active, and 

--cobalt-blue: #0047AB; (main/primary dark color: background of nav, font color, links color)
--cherry-red: #E0004E (secondary dark color)
 */

 /* VARIABLES */
 :root {
    --roboto: "Roboto", sans-serif;
    --font-weight: 400;
    --font-style: normal;
    --white: #FFFFFF;
    --light-pink: #ecc6d3;
    --light-blue: #DAFAFF;
    --blush: #E7769D;
    --cherry-red: #E0004E;
    --cobalt-blue: #0047AB;
}

.blog-post { 
    z-index: -2;
    color: var(--cobalt-blue);
    background-color: hsla(340, 45%, 85%, 0.3); /* hue, saturation, lightness, alpha https://www.w3schools.com/cssref/pr_background-color.php */
    margin-bottom: 50px;
    padding: 10px 25px 25px 25px; /* creates space inside el, corresponds to property directly below */
    box-shadow: 0 0 0 10px hsla(340, 45%, 85%, 0.3); /* simulating border w/ same color & transparency */
    border-radius: 5px;
}

p, img, figure {
    margin-bottom: 25px;
    margin-top: 0px;
}

figcaption, blockquote {
    text-align: center;
}

/* blockquote {
    
} */

#blog-section ul li {
    margin-bottom: 10px;
    margin-left: 20px;
}

#blog-section ol li {
    margin-bottom: 10px;
    margin-left: 25px;
}

.blog-post a:active {
    color: var(--white);
}

.anchor-links-to-blog-posts {
    margin: 0px 0px 25px 0px;
    text-align: center !important;
}

#generic-photo-1 {
    border-top: 25px solid var(--white) !important;
    border-bottom: 23px solid var(--white) !important;
}

.blog-post-recent-exp-tech-stack {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    max-width: 800px;
    margin: 10px auto;
}

.blog-post-recent-exp-tech-stack ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
    width: 100%;
    overflow: hidden;
}

.blog-post-recent-exp-tech-stack li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    flex-basis: 14.28%; /* 7 skills in the list, so allow each item to take up roughtly 1/7th of the container */
    max-width: 14.28%;
    margin: 0;
}

.blog-post-recent-exp-tech-stack .icon-img-inline img {
    width: 100%;
    height: auto;
    max-width: 50px;
}

@media screen and (max-width: 768px) {
    .blog-post-recent-exp-tech-stack {
        margin: 35px 0;
    }
    
    .blog-post-recent-exp-tech-stack ul {
        /* justify-content: space-between;  */
        /* adjust space between items */
        gap: 7px;
    }

    .blog-post-recent-exp-tech-stack li {
        flex-shrink: 2; /* allow list items to shrink more on smaller screens */
        flex-basis: 20%;
        max-width: 20%;
    }

    .blog-post-recent-exp-tech-stack .icon-img-inline img {
        max-width: 40px; /* shrink images on smaller screens */
    }

    .blog-post-recent-exp-tech-stack .icon-text {
        display: none;
    }
}

@media screen and (max-width: 690px) {
    .blog-post-recent-exp-tech-stack {
        margin: 25px 0;
    }

    .blog-post-recent-exp-tech-stack img {
        margin-bottom: 0px !important;
    }
}

@media screen and (max-width: 375px) {
    .blog-post {
        margin: 0px 10px 50px 10px;
        padding: 10px !important; /* creates space inside el, corresponds to property directly below */
    }

    h3 {
        margin-top: 0px !important;
    }

    .blog-post-recent-exp-tech-stack {
        margin: 10px 0;
        width: 100%;
        max-width: 375px;
    }

    .blog-post-recent-exp-tech-stack ul {
        /* justify-content: space-between;  */
        /* adjust space between items */
        gap: 5px;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
    }

    .blog-post-recent-exp-tech-stack li {
        flex-shrink: 3; /* allow list items to shrink more on smaller screens */
        flex-basis: 25%;
        max-width: 25%;
        align-items: center;
        justify-content: center;
    }

    .blog-post-recent-exp-tech-stack img {
        max-width: 30px; /* shrink images on smaller screens */
    }
}
