/* Styling specific for the blog webpage */

/* 
colors: 
Used these tool to determine website design color palette: 
1) WCAG info. on contrast minimum (documentation): https://www.w3.org/TR/WCAG/#contrast-minimum
2)Contrast ratio tool by Lea Verou: https://www.siegemedia.com/contrast-ratio#%23a85d77-on-white

---white: #FFFFFF (background, font color on nav, main/primary light color)
--light-pink: #ecc6d3 (secondary light color, used for nav hover, and links active)

--blush: #E7769D (mid-value zone for color palette, nav links active, and 

--cherry-red: #E0004E (secondary dark color)

--dark-teal: #006862; (main/primary dark color: background of nav, font color, links color)
--oxblood: #4A0404;
 */

 /* VARIABLES */
 :root {
    --roboto: "Roboto", sans-serif;
    --font-weight: 400;
    --font-style: normal;
    --white: #FFFFFF;
    --light-pink: #ecc6d3;
    --blush: #E7769D;
    --cherry-red: #E0004E;
    --dark-teal: #006862; /* RGB 0, 104, 98, HSL 176, 100%, 20% */
    --oxblood: #4A0404; /* rgb(74, 4, 4) */
}

.blog-post { 
    z-index: -2;
    color: var(--dark-teal);
    background-color: hsla(340, 45%, 85%, 0.3); /* hue, saturation, lightness, alpha https://www.w3schools.com/cssref/pr_background-color.php */
    margin-bottom: 50px;
    padding: 10px 25px 25px 25px; /* creates space inside el, corresponds to property directly below */
    box-shadow: 0 0 0 10px hsla(340, 45%, 85%, 0.3); /* simulating border w/ same color & transparency */
    border-radius: 5px;
}

p, img, figure {
    margin-bottom: 25px;
    margin-top: 0px;
}

figcaption, blockquote {
    text-align: center;
}

#blog-section ul li {
    margin-bottom: 10px;
    margin-left: 20px;
}

#blog-section ol li {
    margin-bottom: 10px;
    margin-left: 25px;
}

.blog-post a:active {
    color: var(--white);
}

.anchor-links-to-blog-posts {
    margin: 0px 0px 25px 0px;
    text-align: center !important;
}

#generic-photo-1 {
    border-top: 25px solid var(--white) !important;
    border-bottom: 23px solid var(--white) !important;
}

.blog-post-recent-exp-tech-stack {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0px auto 25px auto;
}

.blog-post-recent-exp-tech-stack ul {
    list-style: none;
    margin: 0 0 25px 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    width: 100%;
    justify-content: center;
}

.blog-post-recent-exp-tech-stack li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 14.28%; /* 7 skills in the list, so allow each item to take up roughtly 1/7th of the container */
    max-width: 14.28%;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
}

.blog-post-recent-exp-tech-stack .icon-img-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.blog-post-recent-exp-tech-stack .icon-img-inline img {
    max-height: 60px !important;
    display: block;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .blog-post-recent-exp-tech-stack {
        margin: 35px 0;
    }
    
    .blog-post-recent-exp-tech-stack ul {
        /* justify-content: space-between;  */
        /* adjust space between items */
        gap: 7px;
    }

    .blog-post-recent-exp-tech-stack li {
        flex-basis: 20%;
        max-width: 20%;
    }
}

@media screen and (max-width: 690px) {
    .blog-post-recent-exp-tech-stack .icon-img-inline img {
        max-height: 25px !important;
        padding: 0;
        margin: 0;
        max-width: 100%;
        height: auto;
    }

    #generic-photo-1 {
        display: none;
    }
}

@media screen and (max-width: 375px) {
    .blog-post {
        margin: 0px 10px 50px 10px;
        padding: 10px !important; /* creates space inside el, corresponds to property directly below */
    }

    h3 {
        margin-top: 0px !important;
    }
}
