/* Styling specific for the built webpage */

/* 
colors: 
Used these tool to determine website design color palette: 
1) WCAG info. on contrast minimum (documentation): https://www.w3.org/TR/WCAG/#contrast-minimum
2)Contrast ratio tool by Lea Verou: https://www.siegemedia.com/contrast-ratio#%23a85d77-on-white

---white: #FFFFFF (background, font color on nav, main/primary light color)
--light-pink: #ecc6d3 (secondary light color, used for nav hover, and links active)
--light-blue: #DAFAFF

--blush: #E7769D (mid-value zone for color palette, nav links active, and 

--blue-teal: #006171; (main/primary dark color: background of nav, font color, links color)
--cherry-red: #E0004E (secondary dark color)
 */

 /* VARIABLES */

:root {
    --roboto: "Roboto", sans-serif;
    --font-weight: 400;
    --font-style: normal;
    --white: #FFFFFF;
    --light-pink: #ecc6d3;
    --light-blue: #DAFAFF;
    --blush: #E7769D;
    --cherry-red: #E0004E;
    --blue-teal: #006171;
}

/* BUILT PAGE STYLES */

h2 {
    white-space: normal; /* get the text to wrap */
    overflow: visible;
    display: block;
    width: auto;
    max-width: 100%; /* stay in the container */
    word-break: break-word;
    hyphens: auto;
}

#built h3 {
    margin-bottom: 0px !important;
    text-align: center;
    justify-content: center;
}

/* BUILT TOP INDEX ANCHOR LINKS CONTAINER AND COLUMN LIST STYLES - so far only a need for this on this webpage, so this styling is only on built.css (as opposed to the whole site styling on styles.css) */

/* SECTION */
#built-index-section {
    width: 100%;
    background-color: hsla(340, 45%, 85%, 0.3); /* hue, saturation, lightness, alpha https://www.w3schools.com/cssref/pr_background-color.php */
    margin-bottom: 25px;
    padding: 10px 0;
}

/* DIV FOR ENTIRE INDEX BOX */
.built-index-content {
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}

/* DIV FOR OL OF INDEX ITEMS */
.built-index-columns {
    display: flex;
    justify-content: space-between;
    width: 100%; /* allow full width to fill the container */
}

.built-index-columns ol {
    padding: 0;
    margin: 0;
    column-count: 3;
    list-style-position: inside;
    text-align: left;
    width: 100%; /* ensure the ordered list takes full width */
}

.built-index-columns li {
    margin-bottom: 10px;
    text-align: left;
}

/* for media screen / media queries: 
                H1, h2, h3, h4, body/nav, footer
Regular:        80, 55, 40, 35, 25, 19
                -8, -7, -4, -3, -2, -1 

Media query 800: 72, 48, 36, 32, 23, 18
                 -7, -6, -4, -3, -2, -1 
Media query 690: 65, 42, 32, 29, 21, 17
                 -6, -5, -3, -2, -1, -1 
Media query 500: 59, 38, 29, 27, 20, 16
                 -5, -4, -2, -2, -1, -1 
Media query 375: 54, 34, 27, 25, 19, 15 */

@media (max-width: 500px) {
    .built-index-content {
        text-align: center;
        margin: 0 auto;
        justify-content: center;
    }
    
    .built-index-columns ol {
        column-count: 2;
    }

    #built .container-sides-120px h3 {
        margin: 0 !important;
    }
}