/* Styling specific for the built webpage */

/* 
colors: 
Used these tool to determine website design color palette: 
1) WCAG info. on contrast minimum (documentation): https://www.w3.org/TR/WCAG/#contrast-minimum
2)Contrast ratio tool by Lea Verou: https://www.siegemedia.com/contrast-ratio#%23a85d77-on-white

---white: #FFFFFF (background, font color on nav, main/primary light color)
--light-pink: #ecc6d3 (secondary light color, used for nav hover, and links active)
--light-blue: #DAFAFF

--blush: #E7769D (mid-value zone for color palette, nav links active, and 

--blue-teal: #006171; (main/primary dark color: background of nav, font color, links color)
--cherry-red: #E0004E (secondary dark color)
 */

 /* VARIABLES */
:root {
    --roboto: "Roboto", sans-serif;
    --font-weight: 400;
    --font-style: normal;
    --white: #FFFFFF;
    --light-pink: #ecc6d3;
    --light-blue: #DAFAFF;
    --blush: #E7769D;
    --cherry-red: #E0004E;
    --blue-teal: #006171;
}

/* BUILT PAGE STYLES */
h2 {
    white-space: normal; /* get the text to wrap */
    overflow: visible;
    display: block;
    width: auto;
    max-width: 100%; /* stay in the container */
    word-break: break-word;
    hyphens: auto;
}

#built h3 {
    text-align: center;
}

/* BUILT TOP INDEX ANCHOR LINKS CONTAINER AND COLUMN LIST STYLES - so far only a need for this on this webpage, so this styling is only on built.css (as opposed to the whole site styling on styles.css) */

/* SECTION */
#built-index-section {
    width: 100%;
    background-color: hsla(340, 45%, 85%, 0.3); /* hue, saturation, lightness, alpha https://www.w3schools.com/cssref/pr_background-color.php */
    margin-bottom: 25px;
    padding: 25px 0;
}

/* DIV FOR ENTIRE INDEX BOX */
.built-index-content {
    text-align: center;
    margin: 0 auto;
}

/* DIV FOR OL OF INDEX ITEMS */
.built-index-columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; /* gutter size */
}

.built-index-columns ol {
    display: contents;
    padding: 0;
    margin: 0;
    list-style-position: inside;
    text-align: left;
    width: 100%; /* ensure the ordered list takes full width */
}

.built-index-columns li {
    margin-bottom: 10px !important;
    text-align: left;
    white-space: normal;
    order: initial;
}

/* ORDERING FOR LIST ITEMS */
/* specific ordering for each item */
.built-index-columns li:nth-child(1) { order: 1; }
.built-index-columns li:nth-child(2) { order: 4; }
.built-index-columns li:nth-child(3) { order: 7; }
.built-index-columns li:nth-child(4) { order: 2; }
.built-index-columns li:nth-child(5) { order: 5; }
.built-index-columns li:nth-child(6) { order: 8; }
.built-index-columns li:nth-child(7) { order: 3; }
.built-index-columns li:nth-child(8) { order: 6; }
.built-index-columns li:nth-child(9) { order: 9; }

/* for media screen / media queries: 
Media query:800

            690

            500

            375 */
/* responsiveness */
@media (max-width: 525px) {
    .built-index-columns {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on mobile screens */
    }

    /* ORDERING FOR LIST ITEMS */
    /* specific ordering for each item */
    .built-index-columns li:nth-child(1) { order: 1; }
    .built-index-columns li:nth-child(2) { order: 3; }
    .built-index-columns li:nth-child(3) { order: 5; }
    .built-index-columns li:nth-child(4) { order: 7; }
    .built-index-columns li:nth-child(5) { order: 9; }
    .built-index-columns li:nth-child(6) { order: 2; }
    .built-index-columns li:nth-child(7) { order: 4; }
    .built-index-columns li:nth-child(8) { order: 6; }
    .built-index-columns li:nth-child(9) { order: 8; }

}

@media (max-width: 375px) {
    .built-index-columns ol li a {
        font-size: 17px !important;
    }

    h3 {
        margin: 0px !important;
    }
}