/* Styling specific for the blog webpage */

/* 
colors:
---white: #FFFFFF (background, font color on nav, main/primary light color)
--light pink: #ecc6d3 (secondary light color, used for nav hover, and links active)

--blush: #E7769D (mid-value zone for color palette, nav links active, and 

--dark blue-green: #006171; (main/primary dark color: background of nav, font color, links color)
--cherry red: #E0004E (secondary dark color)
 */

.title-sticky {
    position: relative; 
    background-color: #E0004E;
    padding: 5px 20px;
    width: 700px;
    max-width: 700px;
    margin-bottom: 25px;
    display: inline-block;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.5); /* left side */
}

.title-sticky::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100%; /* Ensure it extends beyond the right edge of the element */
    width: 50px; /* Width of the shadow */
    height: 100%; /* Height of the shadow matches the element */
    background: rgba(0, 0, 0, 0.1); /* Light shadow color */
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3); /* Adds a shadow effect on the left */
    z-index: -1; /* Ensure the shadow stays behind the content */
    margin-bottom: 25px;
}

.blog-content {
    padding-left: 25px;
}

h3 {
    color: white; /* overrides the normal red+animation in styles.css */
}

p {
    margin-bottom: 25px;
}

#blog-section ul li {
    margin-bottom: 25px;
    margin-left: 20px;
}