/* CSS for dev site */

/* colors: 
dark teal: #006171; (main color)
light blue: #a5eee0; (background/contrast)
cherry red: #E0004E (headers)
lip stick blush: #E7769D; (accent, same lighter value for contrast with teal)
light pink: #E8C2CF (accent, lighter than above accent blush color)
Lily white: #F0F0F0 (color consistency palette "white" accents)
 */

* {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#welcome h1 {
    margin: 0px 0px !important;
}

#welcome div h2 {
    margin: 10px 0px;
}

#welcome #location {
    text-align: center;
}

/* all text same margins nav and body */
.container-sides-30px {
    padding: 0 30px; /* first value: 0px top & bottom, second value: adds 30px padding on the left and right */
}

/* navbar */
.navbar {
    width: 100%; /* covers the entire width of the browser */
    top: 0;
    z-index: 1000; /* highest heirarchy nearest the viewer, always in viewport fully */
    margin: 30px 0 30px 0;
    font-size: 20px;
    background: #006171 !important;
    padding: 10px 0;
    position: sticky; /* sticks to top when scrolling down */
}

.navbar ul {
    list-style-type: none; /* no style set for list bullets, so they won't show up at all */
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
}

.navbar li {
    float: left; /* organize to the left & so the "tabs" lay horizontally */
}

.navbar li a {
    color:#DAFAFF; /* color of text */
    text-decoration: none; /* takes off the underline */
    padding: 5px 20px; /* common padding for all links */
}

.navbar a:hover {
    color: #E8C2CF; /* UX hover user receptive */
}

.navbar a:active {
    color: #E7769D; /* UX user receptive when user clicks link */
    transition: 3ms;
}

.copyright {
    color:#E8C2CF !important; /* special styling for copyright 💁‍♀️ as is text color */
}

.copyright:hover {
    color:#E7769D !important; /* special hover styling for copyright 💁‍♀️ */
}

.copyright:active {
    color:#E8C2CF !important; /* special hover styling for copyright 💁‍♀️ */
}

.navbar-bottom {
    width: 100%; /* covers the entire width of the browser */
    bottom: 0; /* zero space between navbar and bottom of viewport */
    position: static; /* fixed position stays when scrolling */
    z-index: 500; /* highest heirarchy nearest the viewer, always in viewport fully */
    margin: 0;
    font-size: 20px;
    background: #006171 !important;
}

.navbar-bottom ul {
    list-style-type: none; /* no style set for list bullets, so they won't show up at all */
    margin: 0; /* see padding below in li a styles */
    padding: 0; /* see padding below in li a styles */
    overflow: hidden; 
    width: 100%; /* covers the entire width of the browser */
}

.navbar-bottom li {
    float: left; /* organize to the left & so the "tabs" lay horizontally */
}

.navbar-bottom li a {
    display: block; /* behaves like block */
    color:#DAFAFF; /* color of text */
    text-align: center; /* puts the text inside each list item spacing */
    text-decoration: none; /* takes off the underline */
    padding: 5px 10px; /* common padding for all links */
}

.navbar-bottom a:hover {
    color: #E8C2CF; /* UX hover user receptive */
}

.navbar-bottom a:active {
    color: #E7769D; /* UX user receptive when user clicks link */
    transition: 3ms;
}

/* body */
html, body {
    background-color: #DAFAFF;
    margin: 0;
    color: #006171;
    font-size: 25px;
}

section {
    margin: 10px 0;
}

/* applies to anything in the body main */
.body {
    z-index: 500;
    line-height: 1.6;
}

/* headers */
h1, h2 {
    text-align: center;
}

h1 {
    font-size: 60px !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

h2 {
    animation-name: change-me-animation-1;
    animation-duration: 20s;
    animation-iteration-count: infinite; /* repeat the animation */
    animation-timing-function: linear; /* smooth transition */
    font-size: 40px;
    margin: 30px 0 10px 0;
}

/* change me animation 1 isn't in the html code, bc it's automatically applied to the H1 headers and the .text-changing class (which is at the very bottom of the webpage) (above) */
@keyframes change-me-animation-1 {
    0% {color: #006171;} /* initial color */
    50% {color: #E0004E;} /* transition to new color */
    100% {color: #006171} /* transition back to initial color */
}

h3 {
    text-align: left;
    font-size: 30px;
    color: #E0004E;
}

#facts ul li {
    margin-bottom: 20px;
}

#footer .centered-icons {
    margin-bottom: 45px !important;
}

#footer p {
    margin-bottom: 45px;
}

.projects-container {
    display: flex;
    align-items: flex-end;
    margin: 0;
}

.projects-container a {
    margin-left: 10px;
}

.projects-inline-icon {
    height: 30px;
    width: auto;
    vertical-align: bottom;
    margin-bottom: 5px;
}

/* all images */
img {
    display: block; /* so it'll behave like a block */
    margin-left: auto; /* centering images */
    margin-right: auto; /* ^centering images */
    border-radius: 10px; /* rounded corners of images */
    max-width: 100%;
    height: auto;
    z-index: 0; /* weight of 0 default to go behind the navbar when user is scrolling */
}

/* icons centered at top of website */
.centered-icons {
    text-align: center;
    align-items: flex-end !important;
    margin-top: 45px;
}

.centered-icons a {
    padding: 5px 20px; /* common padding for all links */
}

.centered-icons a img {
    margin-left: 0; 
    max-height: 50px !important; 
    display:inline-block; 
    padding-bottom: 0;
}

/* project images - so they are the same size */
.projects {
    width: 60vw;
    height: auto;
    object-fit: cover;
}

/* for tech stack, but can be applied to another list as needed (any non-navbar lists) */
.tech-stack-list {
    list-style-type: disc; /* no style set for list bullets, so they won't show up at all */
    width: 100%;
}

/* any body links not navbar */
.inline-link {
    color: #006171; /* setting font color to not be the default and stay on color palette */
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
}

.inline-link:hover {
    color: #E7769D;
}

.inline-link:active {
    color: #E0004E;
}

/* animation of underline color change from rose pink to yellow highlight on key text I want to emphasize */
.change-me-animation-2-underline {
    animation-name: change-me-animation-2;
    animation-duration: 20s;
    animation-iteration-count: infinite; /* repeat the animation */
    animation-timing-function: linear; /* smooth transition */
    text-decoration: none; /* remove default underline */
    border-bottom: 1px solid #E7769D;
}

@keyframes change-me-animation-2 {
    from {border-bottom-color: #E7769D;}
    to {border-bottom-color: yellow;}
}

/* About section: text and portrait */
.container {
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;
}

.float-image {
    float: left;
    margin: 0 20px 20px 0;
    width: 25%;
    height: auto; /* keeping aspect ratio */
    shape-outside: margin-box;
    shape-margin: 20px;
}

.container p {
    text-align: justify;
    flex: 1;
}

.container-2 ul { /* used for fun facts section */
    padding: 0px;
    margin: 0px;
    list-style-type: none !important; /* no style set for list bullets, so they won't show up at all */
}

/* Tech stack section: diagram and text */
.container-3 {
    display: flex;
    align-items: flex-start; /* align items at the top */
    flex-wrap: wrap; /* allows items to wrap - image will go below text if a certain smaller width */
}

.text-3 {
    flex: 1; /* allows text div to grow */
    margin-right: 20px; /* amount of space between text and image, same as side margins of body, consistency design choice */
}

.image-container-3 {
    max-width: 50%; /* the portrait image won't ever be bigger than 40% of the width of the screen within the text/img container div */
}

.image-container-3 img {
    max-width: 100%; /* image not going over container edges but also filling the width completely */
    margin-left: 0px; 
}

/* breakpoint for smaller screens - max width based on biggest mobile phone size width - see directly below */
@media screen and (max-width: 768px) {
    #projects h1, h2 {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    body {
        font-size: 19px !important;
    }

    h1 {
        font-size: 40px !important;
    }
    
    h2 {
        font-size: 30px !important;
    }

    h3 {
        font-size: 25px !important;
    }

    .container .container-2 { /* apply this to both container in the same way */ 
        flex-direction: column; /* makes the items stack vertically on smaller screens */
        align-items: center;
        text-align: center;
    }

    .text-2 {
        margin-right: 0; /* removes any extra margin that might have been added bc of pic (movement to being stack vertically, 20px now, but would have been 40px */
    }

    .image-container-3 {
        max-width: 100%; /* portrait images cover entire width on smaller screens when stacked */
        margin-bottom: 20px; /* same consistent size of space vertically between image and text when they are stacked on smaller screens */
    }
}