<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lucca Wang Portfolio">
    <meta name="author" content="Lucca Wang">
    
    <!-- Welcome tab -->
    <title>Lucca Wang: Software Engineer</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/img/favicon-com.png"/>

    <!-- Google Font APIs -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

    <!-- My CSS stylesheets-->
    <link rel="stylesheet" href="/assets/css/site.css">
</head>

<body>
    <nav id="navbar">
        <div class="container">
            <div class="nav">
                <a href="#about">About</a>
                <a href="#skills">Skills</a>
                <a href="#projects">Projects</a>
                <a href="assets/Lucca_Wang_Resume.pdf" target="_blank">Resume</a>
                <a href="#blog">Blog</a>
          </div>
        </div>
    </nav>

    <h1>Hi, I'm Lucca Wang.</h1>
    
    <p>I am a software engineer with a background in nonprofit communications and visual art.</p>

    <p>After graduating with my 3 undergraduate degrees in journalism and mass communication and fine arts in 5 years, I started my career as a nonprofit communications professional (and separately as a visual artist) and was able to use my expertise and problem-solving skills in communities to help underprivileged people by increasing awareness, working with cross-diciplinary teams, and meeting business needs by reporting metrics and performance to stakeholders.<br>
    <br>
    While that was rewarding, I found myself increasingly diving into technology, collaborating with IT, tech leads, and software engineers on websites, databases, and more and really enjoying it. I transitioned into software engineering, because I want to use my problem solving skills to build meaningful products that people will love and trust.<br>
    <br>
    I am excited for this new chapter of my journey, and I look forward to continue learning and expanding my skills!</p>

    <h1>Tech stack:</h1>
        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>JavaScript</li>
            <li>React</li>
            <li>PostgreSQL</li>
            <li>SQL</li>
            <li>SQLAlchemy</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Working with APIs</li>
            <li>Git</li>
            <li>Markdown</li>
        </ul>
    </p>
</body>
</html>